.rc-select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsl(var(--foreground));
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.rc-select:not(.rc-select-customize-input) .rc-select-selector {
  position: relative;
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--border));
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.rc-select:not(.rc-select-customize-input) .rc-select-selector input {
  cursor: pointer;
}

.rc-select-show-search.rc-select:not(.rc-select-customize-input) .rc-select-selector {
  cursor: text;
}

.rc-select-show-search.rc-select:not(.rc-select-customize-input) .rc-select-selector input {
  cursor: auto;
  color: inherit;
}

.rc-select-disabled.rc-select:not(.rc-select-customize-input) .rc-select-selector {
  color: hsl(var(--muted-foreground));
  background: transparent;
  opacity: 0.8;
  cursor: not-allowed;
}

.rc-select-multiple.rc-select-disabled.rc-select:not(.rc-select-customize-input) .rc-select-selector {
  background: rgba(0, 0, 0, 0.04);
}

.rc-select-disabled.rc-select:not(.rc-select-customize-input) .rc-select-selector input {
  cursor: not-allowed;
}

.rc-select:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
  margin: 0;
  padding: 0;
  background: 0 0;
  border: none;
  outline: none;
  appearance: none;
}

.rc-select:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

.rc-select .rc-select-selection-item {
  flex: 1;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rc-select .rc-select-selection-item>* {
  line-height: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rc-select .rc-select-selection-placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  color: rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.rc-select .rc-select-arrow {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.25);
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  inset-inline-start: auto;
  inset-inline-end: 11px;
  height: 12px;
  margin-top: -6px;
  font-size: 12px;
  pointer-events: none;
}

.rc-select .rc-select-arrow>* {
  line-height: 1;
}

.rc-select .rc-select-arrow svg {
  display: inline-block;
}

.rc-select .rc-select-arrow .rcicon {
  vertical-align: top;
  transition: transform 0.3s;
}

.rc-select .rc-select-arrow .rcicon>svg {
  vertical-align: top;
}

.rc-select .rc-select-arrow .rcicon:not(.rc-select-suffix) {
  pointer-events: auto;
}

.rc-select-disabled .rc-select .rc-select-arrow {
  cursor: not-allowed;
}

.rc-select .rc-select-arrow>*:not(:last-child) {
  margin-inline-end: 8px;
}

.rc-select .rc-select-clear {
  position: absolute;
  top: 50%;
  inset-inline-start: auto;
  inset-inline-end: 11px;
  z-index: 1;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  color: hsl(var(--foreground));
  font-size: 12px;
  font-style: normal;
  line-height: 1;
  text-align: center;
  text-transform: none;
  cursor: pointer;
  opacity: 0;
  transition: color 0.2s ease, opacity 0.3s ease;
  text-rendering: auto;
}

.rc-select .rc-select-clear:before {
  display: block;
}

.rc-select .rc-select-clear:hover {
  color: rgba(0, 0, 0, 0.45);
}

.rc-select:hover .rc-select-clear {
  opacity: 1;
}

.rc-select-has-feedback .rc-select-clear {
  inset-inline-end: 29px;
}

.rc-select-single {
  font-size: 14px;
}

.rc-select-single .rc-select-selector {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: hsl(var(--foreground));
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  display: flex;
  border-radius: 6px;
}

.rc-select-single .rc-select-selector .rc-select-selection-search {
  position: absolute;
  top: 0;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  bottom: 0;
}

.rc-select-single .rc-select-selector .rc-select-selection-search-input {
  width: 100%;
}

.rc-select-single .rc-select-selector .rc-select-selection-item,
.rc-select-single .rc-select-selector .rc-select-selection-placeholder {
  padding: 0;
  line-height: 30px;
  transition: all 0.3s, visibility 0s;
}

@supports (-moz-appearance: meterbar) {

  .rc-select-single .rc-select-selector .rc-select-selection-item,
  .rc-select-single .rc-select-selector .rc-select-selection-placeholder {
    line-height: 30px;
  }
}

.rc-select-single .rc-select-selector .rc-select-selection-item {
  position: relative;
  user-select: none;
}

.rc-select-single .rc-select-selector .rc-select-selection-placeholder {
  transition: none;
  pointer-events: none;
}

.rc-select-single .rc-select-selector:after,
.rc-select-single .rc-select-selector .rc-select-selection-item:after,
.rc-select-single .rc-select-selector .rc-select-selection-placeholder:after {
  display: inline-block;
  width: 0;
  visibility: hidden;
  content: '\a0';
}

.rc-select-single.rc-select-show-arrow .rc-select-selection-item,
.rc-select-single.rc-select-show-arrow .rc-select-selection-placeholder {
  padding-inline-end: 18px;
}

.rc-select-single.rc-select-open .rc-select-selection-item {
  color: hsl(var(--foreground));
}

.rc-select-single:not(.rc-select-customize-input) .rc-select-selector {
  width: 100%;
  height: 32px;
  padding: 0 11px;
}

.rc-select-single:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
  height: 30px;
}

.rc-select-single:not(.rc-select-customize-input) .rc-select-selector:after {
  line-height: 30px;
}

.rc-select-single.rc-select-customize-input .rc-select-selector:after {
  display: none;
}

.rc-select-single.rc-select-customize-input .rc-select-selector .rc-select-selection-search {
  position: static;
  width: 100%;
}

.rc-select-single.rc-select-customize-input .rc-select-selector .rc-select-selection-placeholder {
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding: 0 11px;
}

.rc-select-single.rc-select-customize-input .rc-select-selector .rc-select-selection-placeholder:after {
  display: none;
}

.rc-select-single.rc-select-sm {
  font-size: 14px;
}

.rc-select-single.rc-select-sm .rc-select-selector {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  display: flex;
  border-radius: 4px;
}

.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-search {
  position: absolute;
  top: 0;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  bottom: 0;
}

.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-search-input {
  width: 100%;
}

.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-item,
.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-placeholder {
  padding: 0;
  line-height: 22px;
  transition: all 0.3s, visibility 0s;
}

@supports (-moz-appearance: meterbar) {

  .rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-item,
  .rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-placeholder {
    line-height: 22px;
  }
}

.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-item {
  position: relative;
  user-select: none;
}

.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-placeholder {
  transition: none;
  pointer-events: none;
}

.rc-select-single.rc-select-sm .rc-select-selector:after,
.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-item:after,
.rc-select-single.rc-select-sm .rc-select-selector .rc-select-selection-placeholder:after {
  display: inline-block;
  width: 0;
  visibility: hidden;
  content: '\a0';
}

.rc-select-single.rc-select-sm.rc-select-show-arrow .rc-select-selection-item,
.rc-select-single.rc-select-sm.rc-select-show-arrow .rc-select-selection-placeholder {
  padding-inline-end: 18px;
}

.rc-select-single.rc-select-sm.rc-select-open .rc-select-selection-item {
  color: hsl(var(--foreground));
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selector {
  width: 100%;
  height: 24px;
  padding: 0 11px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
  height: 22px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selector:after {
  line-height: 22px;
}

.rc-select-single.rc-select-sm.rc-select-customize-input .rc-select-selector:after {
  display: none;
}

.rc-select-single.rc-select-sm.rc-select-customize-input .rc-select-selector .rc-select-selection-search {
  position: static;
  width: 100%;
}

.rc-select-single.rc-select-sm.rc-select-customize-input .rc-select-selector .rc-select-selection-placeholder {
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding: 0 11px;
}

.rc-select-single.rc-select-sm.rc-select-customize-input .rc-select-selector .rc-select-selection-placeholder:after {
  display: none;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selection-search {
  inset-inline-start: 7px;
  inset-inline-end: 7px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input) .rc-select-selector {
  padding: 0 7px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow .rc-select-selection-search {
  inset-inline-end: 28px;
}

.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow .rc-select-selection-item,
.rc-select-single.rc-select-sm:not(.rc-select-customize-input).rc-select-show-arrow .rc-select-selection-placeholder {
  padding-inline-end: 21px;
}

.rc-select-single.rc-select-lg {
  font-size: 16px;
}

.rc-select-single.rc-select-lg .rc-select-selector {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 16px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  display: flex;
  border-radius: 8px;
}

.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-search {
  position: absolute;
  top: 0;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  bottom: 0;
}

.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-search-input {
  width: 100%;
}

.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-item,
.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-placeholder {
  padding: 0;
  line-height: 38px;
  transition: all 0.3s, visibility 0s;
}

@supports (-moz-appearance: meterbar) {

  .rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-item,
  .rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-placeholder {
    line-height: 38px;
  }
}

.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-item {
  position: relative;
  user-select: none;
}

.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-placeholder {
  transition: none;
  pointer-events: none;
}

.rc-select-single.rc-select-lg .rc-select-selector:after,
.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-item:after,
.rc-select-single.rc-select-lg .rc-select-selector .rc-select-selection-placeholder:after {
  display: inline-block;
  width: 0;
  visibility: hidden;
  content: '\a0';
}

.rc-select-single.rc-select-lg.rc-select-show-arrow .rc-select-selection-item,
.rc-select-single.rc-select-lg.rc-select-show-arrow .rc-select-selection-placeholder {
  padding-inline-end: 20px;
}

.rc-select-single.rc-select-lg.rc-select-open .rc-select-selection-item {
  color: hsl(var(--foreground));
}

.rc-select-single.rc-select-lg:not(.rc-select-customize-input) .rc-select-selector {
  width: 100%;
  height: 40px;
  padding: 0 11px;
}

.rc-select-single.rc-select-lg:not(.rc-select-customize-input) .rc-select-selector .rc-select-selection-search-input {
  height: 38px;
}

.rc-select-single.rc-select-lg:not(.rc-select-customize-input) .rc-select-selector:after {
  line-height: 38px;
}

.rc-select-single.rc-select-lg.rc-select-customize-input .rc-select-selector:after {
  display: none;
}

.rc-select-single.rc-select-lg.rc-select-customize-input .rc-select-selector .rc-select-selection-search {
  position: static;
  width: 100%;
}

.rc-select-single.rc-select-lg.rc-select-customize-input .rc-select-selector .rc-select-selection-placeholder {
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding: 0 11px;
}

.rc-select-single.rc-select-lg.rc-select-customize-input .rc-select-selector .rc-select-selection-placeholder:after {
  display: none;
}

.rc-select-multiple {
  font-size: 14px;
}

.rc-select-multiple .rc-select-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
}

.rc-select-multiple .rc-select-selection-overflow-item {
  flex: none;
  align-self: center;
  max-width: 100%;
  display: inline-flex;
}

.rc-select-multiple .rc-select-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px 4px;
  border-radius: 6px;
}

.rc-select-show-search.rc-select-multiple .rc-select-selector {
  cursor: text;
}

.rc-select-disabled.rc-select-multiple .rc-select-selector {
  background: hsl(var(--muted-foreground));
  cursor: not-allowed;
}

.rc-select-multiple .rc-select-selector:after {
  display: inline-block;
  width: 0;
  margin: 2px 0;
  line-height: 24px;
  content: '\a0';
}

.rc-select-multiple.rc-select-show-arrow .rc-select-selector,
.rc-select-multiple.rc-select-allow-clear .rc-select-selector {
  padding-inline-end: 24px;
}

.rc-select-multiple .rc-select-selection-item {
  position: relative;
  display: flex;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: 24px;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 22px;
  background: hsl(var(--background));
  border: 1px solid hsl(var(--border));
  border-radius: 4px;
  cursor: default;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  user-select: none;
  margin-inline-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 4px;
}

.rc-select-disabled.rc-select-multiple .rc-select-selection-item {
  color: hsl(var(--muted-foreground));
  border-color: hsl(var(--input));
  cursor: not-allowed;
}

.rc-select-multiple .rc-select-selection-item-content {
  display: inline-block;
  margin-inline-end: 4px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.rc-select-multiple .rc-select-selection-item-remove {
  display: inline-block;
  align-items: center;
  color: hsl(var(--foreground));
  font-style: normal;
  line-height: inherit;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}

.rc-select-multiple .rc-select-selection-item-remove>* {
  line-height: 1;
}

.rc-select-multiple .rc-select-selection-item-remove svg {
  display: inline-block;
}

.rc-select-multiple .rc-select-selection-item-remove>.rcicon {
  vertical-align: -0.2em;
}

.rc-select-multiple .rc-select-selection-overflow-item+.rc-select-selection-overflow-item .rc-select-selection-search {
  margin-inline-start: 0;
}

.rc-select-multiple .rc-select-selection-search {
  display: inline-flex;
  position: relative;
  max-width: 100%;
  margin-inline-start: 8px;
}

.rc-select-multiple .rc-select-selection-search-input,
.rc-select-multiple .rc-select-selection-search-mirror {
  height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  line-height: 24px;
  transition: all 0.3s;
}

.rc-select-multiple .rc-select-selection-search-input {
  width: 100%;
  min-width: 4.1px;
}

.rc-select-multiple .rc-select-selection-search-mirror {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: auto;
  z-index: 999;
  white-space: pre;
  visibility: hidden;
}

.rc-select-multiple .rc-select-selection-placeholder {
  position: absolute;
  top: 50%;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.rc-select-multiple.rc-select-sm {
  font-size: 14px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-overflow-item {
  flex: none;
  align-self: center;
  max-width: 100%;
  display: inline-flex;
}

.rc-select-multiple.rc-select-sm .rc-select-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px 4px;
  border-radius: 4px;
}

.rc-select-show-search.rc-select-multiple.rc-select-sm .rc-select-selector {
  cursor: text;
}

.rc-select-disabled.rc-select-multiple.rc-select-sm .rc-select-selector {
  background: hsl(var(--accent));
  cursor: not-allowed;
}

.rc-select-multiple.rc-select-sm .rc-select-selector:after {
  display: inline-block;
  width: 0;
  margin: 2px 0;
  line-height: 16px;
  content: '\a0';
}

.rc-select-multiple.rc-select-sm.rc-select-show-arrow .rc-select-selector,
.rc-select-multiple.rc-select-sm.rc-select-allow-clear .rc-select-selector {
  padding-inline-end: 24px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item {
  position: relative;
  display: flex;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 14px;
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid hsl(var(--border));
  border-radius: 2px;
  cursor: default;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  user-select: none;
  margin-inline-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 4px;
}

.rc-select-disabled.rc-select-multiple.rc-select-sm .rc-select-selection-item {
  color: hsl(var(--muted-foreground));
  border-color: hsl(var(--border));
  cursor: not-allowed;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item-content {
  display: inline-block;
  margin-inline-end: 4px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item-remove {
  display: inline-block;
  align-items: center;
  color: hsl(var(--foreground));
  font-style: normal;
  line-height: inherit;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item-remove>* {
  line-height: 1;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item-remove svg {
  display: inline-block;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item-remove>.rcicon {
  vertical-align: -0.2em;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-item-remove:hover {
  color: rgba(0, 0, 0, 0.88);
}

.rc-select-multiple.rc-select-sm .rc-select-selection-overflow-item+.rc-select-selection-overflow-item .rc-select-selection-search {
  margin-inline-start: 0;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search {
  display: inline-flex;
  position: relative;
  max-width: 100%;
  margin-inline-start: 8px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search-input,
.rc-select-multiple.rc-select-sm .rc-select-selection-search-mirror {
  height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  line-height: 16px;
  transition: all 0.3s;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search-input {
  width: 100%;
  min-width: 4.1px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search-mirror {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: auto;
  z-index: 999;
  white-space: pre;
  visibility: hidden;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-placeholder {
  position: absolute;
  top: 50%;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-placeholder {
  inset-inline: 7px;
}

.rc-select-multiple.rc-select-sm .rc-select-selection-search {
  margin-inline-start: 2px;
}

.rc-select-multiple.rc-select-lg {
  font-size: 16px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-overflow {
  position: relative;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  max-width: 100%;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-overflow-item {
  flex: none;
  align-self: center;
  max-width: 100%;
  display: inline-flex;
}

.rc-select-multiple.rc-select-lg .rc-select-selector {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px 4px;
  border-radius: 8px;
}

.rc-select-show-search.rc-select-multiple.rc-select-lg .rc-select-selector {
  cursor: text;
}

.rc-select-disabled.rc-select-multiple.rc-select-lg .rc-select-selector {
  background: rgba(0, 0, 0, 0.04);
  cursor: not-allowed;
}

.rc-select-multiple.rc-select-lg .rc-select-selector:after {
  display: inline-block;
  width: 0;
  margin: 2px 0;
  line-height: 32px;
  content: '\a0';
}

.rc-select-multiple.rc-select-lg.rc-select-show-arrow .rc-select-selector,
.rc-select-multiple.rc-select-lg.rc-select-allow-clear .rc-select-selector {
  padding-inline-end: 24px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item {
  position: relative;
  display: flex;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: 32px;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 30px;
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(5, 5, 5, 0.06);
  border-radius: 6px;
  cursor: default;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  user-select: none;
  margin-inline-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 4px;
}

.rc-select-disabled.rc-select-multiple.rc-select-lg .rc-select-selection-item {
  color: rgba(0, 0, 0, 0.25);
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item-content {
  display: inline-block;
  margin-inline-end: 4px;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item-remove {
  display: inline-block;
  align-items: center;
  color: rgba(0, 0, 0, 0.45);
  font-style: normal;
  line-height: inherit;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 10px;
  cursor: pointer;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item-remove>* {
  line-height: 1;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item-remove svg {
  display: inline-block;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item-remove>.rcicon {
  vertical-align: -0.2em;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-item-remove:hover {
  color: rgba(0, 0, 0, 0.88);
}

.rc-select-multiple.rc-select-lg .rc-select-selection-overflow-item+.rc-select-selection-overflow-item .rc-select-selection-search {
  margin-inline-start: 0;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-search {
  display: inline-flex;
  position: relative;
  max-width: 100%;
  margin-inline-start: 8px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-search-input,
.rc-select-multiple.rc-select-lg .rc-select-selection-search-mirror {
  height: 32px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  line-height: 32px;
  transition: all 0.3s;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-search-input {
  width: 100%;
  min-width: 4.1px;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-search-mirror {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: auto;
  z-index: 999;
  white-space: pre;
  visibility: hidden;
}

.rc-select-multiple.rc-select-lg .rc-select-selection-placeholder {
  position: absolute;
  top: 50%;
  inset-inline-start: 11px;
  inset-inline-end: 11px;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.rc-select-dropdown {
  box-sizing: border-box;
  margin: 0;
  padding: 4px;
  color: hsl(var(--foreground));
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  position: absolute;
  top: -9999px;
  z-index: 1050;
  overflow: hidden;
  font-variant: initial;
  background-color: hsl(var(--popover));
  border-radius: 8px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  border: none;
  border: 1px solid hsl(var(--border));
}

.rc-select-dropdown.rc-slide-up-enter.rc-slide-up-enter-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown.rc-slide-up-appear.rc-slide-up-appear-active.rc-select-dropdown-placement-bottomLeft {
  animation-name: css-htwhyh-antSlideUpIn;
}

.rc-select-dropdown.rc-slide-up-enter.rc-slide-up-enter-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown.rc-slide-up-appear.rc-slide-up-appear-active.rc-select-dropdown-placement-topLeft {
  animation-name: css-htwhyh-antSlideDownIn;
}

.rc-select-dropdown.rc-slide-up-leave.rc-slide-up-leave-active.rc-select-dropdown-placement-bottomLeft {
  animation-name: css-htwhyh-antSlideUpOut;
}

.rc-select-dropdown.rc-slide-up-leave.rc-slide-up-leave-active.rc-select-dropdown-placement-topLeft {
  animation-name: css-htwhyh-antSlideDownOut;
}

.rc-select-dropdown-hidden {
  display: none;
}

.rc-select-dropdown .rc-select-item {
  position: relative;
  display: block;
  min-height: 32px;
  padding: 5px 12px;
  color: hsl(var(--foreground));
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5714285714285714;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;
}

.rc-select-dropdown .rc-select-item-group {
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  cursor: default;
}

.rc-select-dropdown .rc-select-item-option {
  display: flex;
}

.rc-select-dropdown .rc-select-item-option-content {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rc-select-dropdown .rc-select-item-option-content>* {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rc-select-dropdown .rc-select-item-option-state {
  flex: none;
}

.rc-select-dropdown .rc-select-item-option-active:not(.rc-select-item-option-disabled) {
  background-color: hsl(var(--accent));
}

.rc-select-dropdown .rc-select-item-option-selected:not(.rc-select-item-option-disabled) {
  color: hsl(var(--foreground));
  font-weight: 600;
  background-color: hsl(var(--accent));
}

.rc-select-dropdown .rc-select-item-option-selected:not(.rc-select-item-option-disabled) .rc-select-item-option-state {
  color: hsl(var(--foreground));
}

.rc-select-dropdown .rc-select-item-option-disabled {
  color: hsl(var(--muted-foreground));
  cursor: not-allowed;
  opacity: 0.5;
}

.rc-select-dropdown .rc-select-item-option-disabled.rc-select-item-option-selected {
  background-color: hsl(var(--accent));
}

.rc-select-dropdown .rc-select-item-option-grouped {
  padding-inline-start: 24px;
}

.rc-select-dropdown-rtl {
  direction: rtl;
}

.rc-slide-up-enter,
.rc-slide-up-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-slide-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-slide-up-enter.rc-slide-up-enter-active,
.rc-slide-up-appear.rc-slide-up-appear-active {
  animation-name: css-htwhyh-antSlideUpIn;
  animation-play-state: running;
}

.rc-slide-up-leave.rc-slide-up-leave-active {
  animation-name: css-htwhyh-antSlideUpOut;
  animation-play-state: running;
  pointer-events: none;
}

.rc-slide-up-enter,
.rc-slide-up-appear {
  transform: scale(0);
  transform-origin: 0% 0%;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.rc-slide-up-enter-prepare,
.rc-slide-up-appear-prepare {
  transform: scale(1);
}

.rc-slide-up-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.rc-slide-down-enter,
.rc-slide-down-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-slide-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-slide-down-enter.rc-slide-down-enter-active,
.rc-slide-down-appear.rc-slide-down-appear-active {
  animation-name: css-htwhyh-antSlideDownIn;
  animation-play-state: running;
}

.rc-slide-down-leave.rc-slide-down-leave-active {
  animation-name: css-htwhyh-antSlideDownOut;
  animation-play-state: running;
  pointer-events: none;
}

.rc-slide-down-enter,
.rc-slide-down-appear {
  transform: scale(0);
  transform-origin: 0% 0%;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.rc-slide-down-enter-prepare,
.rc-slide-down-appear-prepare {
  transform: scale(1);
}

.rc-slide-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.rc-move-up-enter,
.rc-move-up-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-move-up-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-move-up-enter.rc-move-up-enter-active,
.rc-move-up-appear.rc-move-up-appear-active {
  animation-name: css-htwhyh-antMoveUpIn;
  animation-play-state: running;
}

.rc-move-up-leave.rc-move-up-leave-active {
  animation-name: css-htwhyh-antMoveUpOut;
  animation-play-state: running;
  pointer-events: none;
}

.rc-move-up-enter,
.rc-move-up-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.rc-move-up-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.rc-move-down-enter,
.rc-move-down-appear {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-move-down-leave {
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.rc-move-down-enter.rc-move-down-enter-active,
.rc-move-down-appear.rc-move-down-appear-active {
  animation-name: css-htwhyh-antMoveDownIn;
  animation-play-state: running;
}

.rc-move-down-leave.rc-move-down-leave-active {
  animation-name: css-htwhyh-antMoveDownOut;
  animation-play-state: running;
  pointer-events: none;
}

.rc-move-down-enter,
.rc-move-down-appear {
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
}

.rc-move-down-leave {
  animation-timing-function: cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

.rc-select-rtl {
  direction: rtl;
}

.rc-select-focused.rc-select:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer) .rc-select-selector {
  border-color: hsl(var(--border));
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}

.rc-select:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer):hover .rc-select-selector {
  border-color: hsl(var(--border));
}

.rc-select-status-error:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer) .rc-select-selector {
  border-color: #ff7875;
}

.rc-select-focused.rc-select-status-error:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer) .rc-select-selector {
  border-color: #ff7875;
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06);
  outline: 0;
}

.rc-select-status-error:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer):hover .rc-select-selector {
  border-color: #ff7875;
}

.rc-select-status-warning:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer) .rc-select-selector {
  border-color: #ffd666;
}

.rc-select-focused.rc-select-status-warning:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer) .rc-select-selector {
  border-color: #ffd666;
  box-shadow: 0 0 0 2px rgba(255, 215, 5, 0.1);
  outline: 0;
}

.rc-select-status-warning:not(.rc-select-disabled):not(.rc-select-customize-input):not(.rc-pagination-size-changer):hover .rc-select-selector {
  border-color: #ffd666;
}

.rc-select-compact-item:not(.rc-select-compact-last-item) {
  margin-inline-end: -1px;
}

.rc-select-compact-item:hover>*,
.rc-select-compact-item:active>* {
  z-index: 2;
}

.rc-select-compact-item.rc-select-focused {
  z-index: 2;
}

.rc-select-compact-item[disabled]>* {
  z-index: 0;
}

.rc-select-compact-item:not(.rc-select-compact-first-item):not(.rc-select-compact-last-item)>.rc-select-selector {
  border-radius: 0;
}

.rc-select-compact-item:not(.rc-select-compact-last-item).rc-select-compact-first-item>.rc-select-selector,
.rc-select-compact-item:not(.rc-select-compact-last-item).rc-select-compact-first-item.rc-select-sm>.rc-select-selector,
.rc-select-compact-item:not(.rc-select-compact-last-item).rc-select-compact-first-item.rc-select-lg>.rc-select-selector {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.rc-select-compact-item:not(.rc-select-compact-first-item).rc-select-compact-last-item>.rc-select-selector,
.rc-select-compact-item:not(.rc-select-compact-first-item).rc-select-compact-last-item.rc-select-sm>.rc-select-selector,
.rc-select-compact-item:not(.rc-select-compact-first-item).rc-select-compact-last-item.rc-select-lg>.rc-select-selector {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

span.rc-select-arrow-icon.rc-select-arrow-loading-icon {
  content: '';
  box-sizing: border-box;
  min-width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #999;
  border-top-color: transparent;
  transform: none;
  margin-top: 4px;
  animation: rcSelectLoadingIcon 0.5s infinite;
}

@keyframes rcSelectLoadingIcon {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
